<h1>New Form</h1>
<md-card>
  <md-card-content>

    <form name="newForm"
          ng-submit="newForm.$valid && $ctrl.createNewForm()" novalidate>

      <md-input-container class="md-block">
        <label>Название формы</label>
        <input name="name"
               ng-model="$ctrl.form.name"
               md-maxlength="15"
               required/>
        <div class="hint"
              ng-if="newForm.name.$pristine">
            Называйте формы в соответсвии ее языка
        </div>
        <div ng-messages="newForm.name.$error">
          <div ng-message="required">Нельзя добавить форму без языка.</div>
          <div ng-message="md-maxlength">
            Название должно быть меньше 15 символов.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Аббривиатура</label>
        <input name="abbreviation"
               ng-model="$ctrl.form.abbreviation"
               md-maxlength="2"
               required/>
        <div class="hint"
              ng-if="newForm.abbreviation.$pristine">
            Аббривиатуры состоят из двух латинских букв.
        </div>
        <div ng-messages="newForm.abbreviation.$error">
          <div ng-message="required">Нельзя добавить форму без языка.</div>
          <div ng-message="md-maxlength">
            Сокращения языков состоят из 2-х символов.
          </div>
        </div>
      </md-input-container>

      <md-button type="submit" class="md-raised md-primary md-button">
        Создать
      </md-button>
    </form>
  </md-card-content>
</md-card>
