<md-card>
  <md-card-title>
    <span class="md-headline" flex>
      Редактируем {{$ctrl.lang.name}} для {{ $ctrl.boat.name }}
    </span>
  </md-card-title>
  <md-card-content>
    <div layout layout-align="space-between center">
      <h3>Название</h3>
      <h3>Значение</h3>
    </div>
    <div layout layout-align="space-between center"
         ng-repeat="field in $ctrl.lang.fields">

      <span ng-bind="::field.fieldLabel" flex></span>
      <span ng-show="!$ctrl.isEditingFields" style="text-align: right; height: 27px;" ng-bind="field.fieldValue" flex></span>

      <div style="margin: 0;" ng-show="$ctrl.isEditingFields">
        <input ng-model="field.fieldValue"/>
      </div>
    </div>
  </md-card-content>

  <md-card-actions layout layout-align="end">
    <md-button ui-sref="app.viewBoat({boatID: $ctrl.boat.$id})">
      Назад
    </md-button>
    <md-button class="md-raised md-primary" ng-show="!$ctrl.isEditingFields"
               ng-click="$ctrl.showEditFields()">
      Редактировать
    </md-button>
    <md-button class="md-raised md-primary" ng-show="$ctrl.isEditingFields"
               ng-click="$ctrl.updateBoat()">
      Сохранить измениния
    </md-button>
  </md-card-actions>
</md-card>

