<md-dialog aria-label="Add Language">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Введите новое значение поля</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-input-container class="md-dialog-content">
      <input aria-label="Field Value" ng-model="$ctrl.field.fieldValue"/>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="$ctrl.closeDialog()" aria-label="Cancel">
      Отмена
    </md-button>
    <md-button ng-click="$ctrl.editField()" aria-label="Cancel">
      Изменить
    </md-button>
  </md-dialog-actions>
</md-dialog>
