<md-card>
  <md-card-content>

      <form name="newBoatForm"
            ng-submit="newBoatForm.$valid && $ctrl.createNewBoat()" novalidate="">
        <md-input-container class="md-block">
          <label>Название</label>
          <input name="name"
                 ng-model="$ctrl.boat.name"
                 md-maxlength="30"
                 required>
          <div ng-messages="newBoatForm.name.$error">
            <div ng-message="required">У лодки должно быть название.</div>
            <div ng-message="md-maxlength">
              Не нагружайте мозги, держитесь в пределах 30 символов.
            </div>
          </div>
        </md-input-container>

        <lf-ng-md-file-input lf-files="files" multiple
            aria-label="Image upload"
            lf-browse-label="Добавить"
            lf-remove-label="Удалить"
            lf-filesize="5MB"
            lf-placeholder="Выберите фото">
        </lf-ng-md-file-input>

        <md-input-container class="md-block">
          <label>Хараткеристики</label>
          <input name="description"
                 ng-model="$ctrl.boat.description"
                 ng-minlength="10"
                 md-maxlength="140"
                 required>
          <div class="hint"
               ng-if="newBoatForm.description.$pristine">
              Опишите вашу лодку.
          </div>
          <div ng-messages="newBoatForm.description.$error">
            <div ng-message="required">Без описания не получиться.</div>
            <div ng-message="minlength">
              Слишком короткое описание, как же клиенты узнают о всех
              достоинствах?
            </div>
            <div ng-message="md-maxlength">
              Не перегружайте клиента информацией.
            </div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary md-button">
          Создать
        </md-button>
      </form>
    </md-card-content>
  </md-card>
