<div>
  <md-input-container class="md-block">
    <label>Новое поле</label>
    <input name="name"
           ng-model="$ctrl.form.labels.fieldLabel"
           md-maxlength="20"
           required>
    <div ng-messages="newForm.name.$error">
      <div ng-message="required">Нельзя добавить пустое поле.</div>
      <div ng-message="md-maxlength">
        Поля должны быть не больше 20 символов.
      </div>
    </div>
  </md-input-container>

  <md-button class="md-raised md-button" ng-click="addFormField()">
    +
  </md-button>
</div>
