<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline" ng-bind="::$ctrl.boat.name"></span>
    </md-card-title-text>
    <md-card-title-media>

    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <div>
      <h4>Картинки</h4>
      <p ng-repeat="img in $ctrl.boat.images">
        <a href={{ ::img }} target="_blank">{{ ::img }}</a>
      </p>
    </div>
    <div>
      <h4>Видео</h4>
      <p ng-repeat="video in $ctrl.boat.videos">
        <a href={{::video}} target="_blank">{{ ::video}}</a>
      </p>
    </div>
  </md-card-content>
  <md-card-actions layout layout-align="end">
    <md-button ng-click="$ctrl.deleteBoat()">
      Удалить
    </md-button>
    <md-button ui-sref="app.editBoat({boatID: $ctrl.boat.$id})">
      Редактировать
    </md-button>
  </md-card-actions>

</md-card>

<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Языки</span>
    </md-card-title-text>
    <md-button class="md-primary md-raised"
               ng-click="$ctrl.addBoatLanguage()">Добавить язык</md-button>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item class="noright" ng-repeat="lang in $ctrl.boat.languages">
        <p>{{ ::lang.name }}</p>
        <div class="md-secondary" layout flex>
          <md-button ng-click="$ctrl.deleteBoatLanguage(lang)">Удалить</md-button>
          <md-button ui-sref="app.editBoatLang({boatID: $ctrl.boat.$id, lang:
            lang.abbreviation})">Редактировать</md-button>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
